@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<main class="page-section inner-page-sec-padding-bottom mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="login-form">
                        <h4 class="login-title">New User</h4>
                        <p><span class="font-weight-bold">I am a new user</span></p>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter Your Email Address Here.."/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 mb--20">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter your password"/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 mb--20">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Repeat your password"/>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <button id="registerSubmit" type="submit" class="btn btn-outlined">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
