<div class="top-bar color-scheme-transparent">
    <!--------------------
    START - Top Menu Controls
    -------------------->
    <div class="top-menu-controls">
        <div class="element-search autosuggest-search-activator">
            <input placeholder="Start typing to search..." type="text">
        </div>
        <!--------------------
        START - Settings Link in secondary top menu
        -------------------->
        <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
            <i class="os-icon os-icon-ui-46"></i>
            <div class="os-dropdown">
                <div class="icon-w">
                    <i class="os-icon os-icon-ui-46"></i>
                </div>
                <ul>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Logout">
                            <i class="os-icon os-icon-ui-49"></i><span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--------------------
        END - Settings Link in secondary top menu
        -------------------->
    </div>
    <!--------------------
    END - Top Menu Controls
    -------------------->
</div>