html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-slide {
    height: 25rem !important;
}

.book-image{
    height: 350px;
    width: 100%;
}