@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="login-block">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        <a asp-area="Identity" class="text-dark" asp-page="/Account/Logout">Log Out</a>
    }
    else
    {

        <a asp-area="Identity" asp-page="/Account/Login" class="font-weight-bold">Login</a>
        <span>or</span>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    }
</div>
