@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="login-block">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole(AppConstant.AdminRole))
        {
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index" title="Manage">Hello @User.Identity?.Name!</a>
            <a asp-area="Identity" class="text-dark" asp-page="/Account/Logout">Log Out</a>
        }
        else
        {
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Index" title="Manage">Hello @User.Identity?.Name!</a>
            <a asp-area="Identity" class="text-dark" asp-page="/Account/Logout">Log Out</a>
        }
    }
    else
    {

        <a asp-area="Identity" asp-page="/Account/Login" class="font-weight-bold">Login</a>
        <span>or</span>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    }
</div>
